/* Style the input
#top{
    position: relative;
    left: 30px;
    padding: 20px 0px 20px 0px;
}
#top_alt{
    display: none;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    }

#input_box{
    position: relative;
    left: 20px;
    width: 95%;
}
input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
    }
input[type=checkbox]{
    position: relative;
    width: auto;
    margin-top: 8px;
    margin-right: 20px;
}
#add{
    width: 300px;
    position: relative;
    top: 7px;
}
* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}     */